body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
}

header > .title {
    background-color: #EFEFF0;
    padding: 0.5rem 0;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

header > .title > h1 {
    color: orange;
    letter-spacing: 2px;
}

header > .buttons {
    padding: 2rem 0;
    
}

header > .buttons > .population, header > .buttons > .languages{
    background-color: orange;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
}